body {
  font-family: Lato, sans-serif;
  background: #ffffff;
  margin: 0;
  color: #1e212c;
}

.bg {
  position: relative;
  width: 100%;
  height: 100%;
  &__img {
    position: absolute;
  }
  &__shapes {
    left: 56px;
    top: 60vh;
  }
  &__dots {
    right: 0px;
    top: 50px;
  }
  &__arrows {
    right: 72px;
    top: 100vh;
  }
}

.courses {
  padding: 44px 20px;
  max-width: 1230px;
  margin: 0 auto;

  &__header {
    text-align: center;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 0;
    margin-right: 52px;
  }

  &__title {
    margin: 0 52px 85px 0;
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 83px;
    margin-right: 52px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__load-more {
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
    min-height: 42px;
    border: none;
    background-color: transparent;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    &:hover {
      color: #ff3f3a;
      svg {
        path {
          fill: #ff3f3a;
        }
      }
    }
    svg {
      width: 24px;
      height: 24px;
      path {
        transition: 0.3s;
      }
    }
  }
}

.filter {
  height: 46px;
  display: flex;
  gap: 12px;

  &__btn {
    font-family: Lato, sans-serif;
    height: 100%;
    padding: 10px 20px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    background: white;
    color: #9a9ca5;
    font-weight: 700;
    font-size: 16px;
    transition: 0.3s;
    letter-spacing: 0;
    display: flex;
    gap: 4px;
    line-height: 160%;
    &:hover {
      color: #ff3f3a;
    }

    &_active {
      color: #ff3f3a;
      border: 1px solid #ff3f3a;
      border-radius: 4px;
    }
    &__label {
      font-size: 10px;
      line-height: 150%;
    }
  }
}

.search {
  min-width: 315px;
  padding: 14px;
  height: 44px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  &__input {
    font-size: 14px;
    font-family: Lato, sans-serif;
    border: 1px solid transparent;
    width: 100%;
    color: #9a9ca5;
    outline: none;
  }
  @media screen and (max-width: 992px) {
    min-width: 100%;
  }
}

.card {
  z-index: 10;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  transition: 0.3s;
  box-shadow: 0 4px 4px -4px #1e212c08, 0 12px 10px -6px #9a9ca50a,
    0 30px 24px -10px #9a9ca50d, 0 80px 80px -20px #9a9ca514;

  &:hover {
    box-shadow: 0 4px 4px -4px #1e212c0d, 0 12px 10px -6px #9a9ca514,
      0 30px 24px -10px #9a9ca51a, 0 80px 80px -20px #9a9ca529;
  }

  &__img {
    width: 100%;
    display: block;
    height: 240px;
  }

  &__content {
    padding: 24px;
  }

  &__tag {
    display: inline-block;
    font-size: 14px;
    padding: 3px 8px;
    border-radius: 4px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-family: Lato, sans-serif;
    &_marketing {
      background: #03cea4;
    }
    &_management {
      background: #5a87fc;
    }
    &_hr {
      background: #f89828;
    }
    &_design {
      background: #f52f6e;
    }
    &_dev {
      background: #7772f1;
    }
  }

  &__title {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }

  &__price {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
    color: #ff4242;
    margin-bottom: 0;
  }

  &__author {
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 400;
    color: #787a80;
  }
}
